html
body
   font-family: helvetica, "游ゴシック体", "Hiragino Sans GB", "Microsoft Yahei Light", "Microsoft YaHei", "WenQuanYi Micro Hei", lucida, sans-serif;
   margin: 0
   padding: 0

song()
  font-family: Georgia,"Times New Roman","FangSong","仿宋","STFangSong", "华文仿宋",serif

body
  position: relative
clearfix()
  &:after
    content:""
    display: table
    clear:both

@media print
  .song
    song()
  .screen-only
    display: none  
  b
    font-weight: bolder
    
    padding: 3px 5px

*
  box-sizing: border-box;
.container
  position: relative
  width:210mm
  height: 297mm
  margin: auto
  overflow: hidden
  padding: 0rem 2rem
.header
  position: relative 
  display: flex
  .left
  .right
    flex: 1;
  .left
    song()
  
  .right
    text-align: right;
    p
      margin: 8px 0
    a
      color: black
      text-decoration: none
      border-bottom 1px solid white
      &:hover
        border-bottom 1px solid #fff500
.name 
  font-size: 3em
  song()
  margin-bottom: 16px
.role
  font: 600 24px "Fangsong","simsun";


[class^='i-']
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: -3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat
  vertical-align: bottom;
  margin-left: .5em
.i-phone
  background-image: url(icon/phone.svg) ;
.i-email
  background-image: url(icon/email.svg) ;
.i-home
  background-image: url(icon/home.svg) ;
.i-blog
  background-image: url(icon/rss.svg) ;
.i-qq
  background-image: url(icon/qq.png) ;


.box
  position: relative
  >.title
    >h2
      color: black;
      //font-weight: 400
      border-bottom: 2px solid #fff500;
      padding: .3em  0 ;
      margin: 0
//    project
// ul.projects
//   position: relative
//   padding: 0
//   margin: 0
//   list-style: none
//   clearfix()
//   >li
//     float: left;  
//     width: 50%
//   >h3
//     font-weight: 400
//   .details
//     padding-left: 0
//     list-style: none
ul.projects
  position: relative
  padding: .5em 0
  margin: 0
  list-style: none
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari 和 Chrome */
  column-count:2;
  clearfix()
  >li
    //float: left;  
    //width: 50%
    >h3
      margin-top: 0
      >span.h3
        display: block;
        position: relative
        &:before
          content:""
          width: 3em
          height: 3px;
          background-color: #fff500
          position: absolute
          left: 0
          bottom: -6px;
  .details
    padding-left: 0
    list-style: none

  
b
  font-weight: bolder
  padding: 3px 5px
//////////////////////////////////  
//     skills
///////////////////////
.skill.box
  .content
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;
    padding:  1em

ul.skill-list
  list-style: disc
  position: relative
  margin: 0;
  &:after
    content: ""
    display: table
    clear: both
  >li
    //width: 50%;
    //height: 21px;
    //float: left;
    //box-sizing: border-box
    //padding-right: 2em;


.right.aligned
  text-align: right

//////////////////////////////
//    thanks
////////////////////////////

.languages
  text-align: right
  a
    color #03A9F4
.download
  position: absolute
  left 0
  right  0
  bottom: 2px
  text-align: center
  a
    color #03A9F4

.en-version
  ul.projects .words h3
      font-weight: bold
      margin: .5em 0
  .skill
    h4
      margin: .5em 0
  .thanks
    font-size: large;
  .song
    song();

  
.last-update
  position: absolute;
  // text-decoration: underline
  width 100%
  //bottom:50vh;
  bottom:1em;
  left: 0
  text-align: center
  //transform: rotateZ(90deg)
